footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #f5f5f5;
    text-align: center;
}

footer a {
    color: purple;
    font-weight: bold;
    text-decoration: underline;
}