#presentation-container {
    height: 350px;
    padding: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

#presentation-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#presentation-container p {
    max-width: 800px;
}

#presentation-container strong {
    color: rgb(0, 135, 0);
}

hr {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    width: max-content;
    margin: 0 auto;
    background-color: green;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

#healthy-food-container {
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
}

.tips-container{
    margin-top: 2rem;
    width: 100%
}
.tips-container h3{
    font-size: 20px;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.tips-list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.tip-card {
    width: 100%;
    max-width: 300px;
    padding: 2rem;
    background-color: #f5f5f5;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-title {
    text-align: center;
    font-weight: bold;
}

.card-description {
    margin-top: 1rem;
    text-align: justify;
}

#exercises-container {
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
}

.exercises-list-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#mental-health-container {
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
}


@media (max-width: 768px) {
    header {
        padding: 1.5rem 2rem;
    }

    main {
        padding: 2rem;
    }

    #presentation-container {
        padding: 2rem 0;
        height: max-content;
    }
    #presentation-container h1 {
        font-size: 2rem;
    }
    #presentation-container p {
        font-size: 0.9rem;
    }
    .section-title {
        font-size: 1.5rem;
    }
    .tips-container h3 {
        font-size: 1.5rem;
    }
}

@media (min-width: 769px) {
    #presentation-container h1 {
        font-size: 2.5rem;
    }
    #presentation-container p {
        font-size: 1rem;
    }
    .section-title {
        font-size: 2rem;
    }
    .tips-container h3 {
        font-size: 1.25rem;
    }
}